
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Inbox<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Atención al ciudadano</a></li>
              <li><a href="#/previewGenerar">Generar Nota Marginal</a></li>
            <li><a href="#">Notas Marginales</a></li>
            <li><a href="#">Actas</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Item del menú</a></li>
            <li><a href="">Item del menú</a></li>
            <li><a href="">Item del menú</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Item del menú</a></li>
          </ul>
        </div>
